[workspace]
members = [
  "crates/brontes-core",
  "crates/bin",
  "crates/reth-tracing-ext",
  "crates/brontes-inspect",
  "crates/brontes-types",
  "crates/brontes-classifier",
  "crates/brontes-metrics",
  "crates/tracing",
  "crates/brontes-database",
  "crates/brontes-database/libmdbx",
  "crates/brontes-macros",
  "tests",
  "crates/brontes-pricing",
]

resolver = "2"

[workspace.dependencies]
# Database
sorella-db-databases = { git = "https://github.com/SorellaLabs/Database", branch = "main" }
clickhouse = { git = "https://github.com/SorellaLabs/clickhouse.rs" }

# Poirot
brontes-core = { path = "./crates/brontes-core" }
brontes-inspect = { path = "./crates/brontes-inspect" }
brontes-types = { path = "./crates/brontes-types/" }
brontes-classifier = { path = "./crates/brontes-classifier/" }
brontes-metrics = { path = "./crates/brontes-metrics/" }
brontes-database = { path = "./crates/brontes-database/" }
brontes-database-libmdbx = { path = "./crates/brontes-database/libmdbx" }
brontes-macros = { path = "./crates/brontes-macros/" }
brontes-pricing = { path = "./crates/brontes-pricing/" }
reth-tracing-ext = { path = "./crates/reth-tracing-ext/" }
brontes-tracing = { path = "./crates/tracing" }

# Reth
reth-tasks = { git = "https://github.com/paradigmxyz/reth", package = "reth-tasks", rev = "43cdd73" }
reth-rpc = { git = "https://github.com/paradigmxyz/reth", package = "reth-rpc", rev = "43cdd73" }
reth-rpc-api = { git = "https://github.com/paradigmxyz/reth", package = "reth-rpc-api", rev = "43cdd73" }
reth-rpc-types = { git = "https://github.com/paradigmxyz/reth", package = "reth-rpc-types", rev = "43cdd73" }
reth-rpc-builder = { git = "https://github.com/paradigmxyz/reth", package = "reth-rpc-builder", rev = "43cdd73" }
reth-provider = { git = "https://github.com/paradigmxyz/reth", package = "reth-provider", rev = "43cdd73" }
reth-transaction-pool = { git = "https://github.com/paradigmxyz/reth", package = "reth-transaction-pool", rev = "43cdd73" }
reth-network-api = { git = "https://github.com/paradigmxyz/reth", package = "reth-network-api", rev = "43cdd73" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth", package = "reth-primitives", rev = "43cdd73" }
reth-db = { git = "https://github.com/paradigmxyz/reth", package = "reth-db", rev = "43cdd73" }
reth-blockchain-tree = { git = "https://github.com/paradigmxyz/reth", package = "reth-blockchain-tree", rev = "43cdd73" }
reth-beacon-consensus = { git = "https://github.com/paradigmxyz/reth", package = "reth-beacon-consensus", rev = "43cdd73" }
reth-revm = { git = "https://github.com/paradigmxyz/reth", package = "reth-revm", rev = "43cdd73" }
reth-interfaces = { git = "https://github.com/paradigmxyz/reth", package = "reth-interfaces", features = [
  "test-utils",
], rev = "43cdd73" }
reth-stages = { git = "https://github.com/paradigmxyz/reth", package = "reth-stages", features = [
  "test-utils",
], rev = "43cdd73" }
reth-trie = { git = "https://github.com/paradigmxyz/reth", package = "reth-trie", rev = "43cdd73" }
reth-libmdbx = { git = "https://github.com/paradigmxyz/reth", package = "reth-libmdbx", rev = "43cdd73" }
reth-eth-wire = { git = "https://github.com/paradigmxyz/reth", package = "reth-eth-wire", rev = "43cdd73" }
reth-payload-builder = { git = "https://github.com/paradigmxyz/reth", package = "reth-payload-builder", rev = "43cdd73" }
reth-metrics = { git = "https://github.com/paradigmxyz/reth", package = "reth-metrics", rev = "43cdd73" }
reth-codecs = { git = "https://github.com/paradigmxyz/reth", package = "reth-codecs", rev = "43cdd73" }
codecs-derive = { git = "https://github.com/paradigmxyz/reth", package = "codecs-derive", rev = "43cdd73" }

# ruint
ruint = "1.9.0"

# revm
revm = { git = "https://github.com/bluealloy/revm", branch = "main", features = [
  "std",
  "secp256k1",
], default-features = false }
revm-primitives = { git = "https://github.com/bluealloy/revm", branch = "main", features = [
  "std",
], default-features = false }


# Alloy
alloy-sol-types = { version = "0.6.0", features = ["json"] }
alloy-sol-macro = { version = "0.6.0", features = ["json"] }
alloy-rlp = { version = "0.3.4" }
alloy-rlp-derive = { version = "0.3.4" }
alloy-primitives = { version = "0.6.0", features = ["rlp"] }
alloy-json-abi = "0.6.0"
alloy-dyn-abi = "0.6.0"

# Async
tokio = "1.13.0"
futures = "0.3.28"
async-trait = "0.1.73"

#Tracing
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", default-features = false, features = [
  "env-filter",
  "fmt",
] }
colored = "2.0"

# Metrics
metrics-exporter-prometheus = "0.12.1"
metrics-util = "0.15.0"
metrics-process = "1.0.9"

# Logging
env_logger = "0.10.0"
log = "0.4.18"

# error handling
thiserror = "1.0.44"
eyre = "0.6.8"

# http/rpc
hyper = "0.14.25"
hyper-tls = "0.5.0"
reqwest = "0.11.22"

# Serde
serde = "1.0.171"
serde_json = "1.0.1"
serde_with = "3.4.0"
serde_repr = "0.1.16"


# Numbers
malachite = "0.4.0"

# phf
phf = "0.11.2"
phf_codegen = "0.11.2"

# metrics
metrics = "0.21.1"

# misc
c-kzg = "0.4.0"
hex-literal = "0.4.1"
rayon = "1.7.0"
dotenv = "0.15.0"
semver = "1.0"
lazy_static = "1.4.0"
once_cell = "1.18.0"
itertools = "0.11.0"
parking_lot = "0.12.1"
toml = "0.8.2"
auto_impl = "1.1.0"
strum = "0.25.0"
serial_test = "2.0.0"
derive_more = "0.99.17"

num_cpus = "1.16.0"


[profile.dev]
opt-level = 0           # No optimizations
debug = true            # Generate debug information
rpath = false           # Don't set the rpath in executables
lto = false             # No link-time optimization
debug-assertions = true # Enable assertions in debug mode
codegen-units = 16      # Increase parallel code generation units for faster compiles
incremental = true      # Enable incremental compilation
