global:
  scrape_interval: 15s 
  evaluation_interval: 15s 

scrape_configs:
  - job_name: brontes
    metrics_path: "/"
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:6923']
    fallback_scrape_protocol: PrometheusText0.0.4
